@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/* MyComponent.module.css */
.gradientText {
    background: linear-gradient(to right, #D8F700 0%, #3BDB00 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.bggradient {
    background: linear-gradient(to right, #D8F700 0%, #3BDB00 50%);
}

.swiper-3d {
    perspective: 1200px;
}

/* .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -10px !important;
    z-index: 999 !important;
} */

.swiper-pagination-bullet-active {
    background: #fff !important;
}