@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/* MyComponent.module.css */
.gradientText {
    background: linear-gradient(to right, #D8F700 0%, #3BDB00 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.bggradient {
    background: linear-gradient(to right, #D8F700 0%, #3BDB00 50%);
}

.swiper-3d {
    perspective: 1200px;
}

/* .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -10px !important;
    z-index: 999 !important;
} */

.swiper-pagination-bullet-active {
    background: #fff !important;
}

/* Custom Scrollbar Styling for WebKit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
    height: 12px;
    /* Height for horizontal scrollbar */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
    background: transparent;
    /* Color of the track */
    border-radius: 50%;
    /* Rounded track corners */
}

/* Thumb of the scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #0F0E2C;
    /* Scrollbar color */
    border-radius: 50%;
    /* Rounded thumb corners */
    border: 3px solid transparent;
    /* Padding around thumb */
}

/* Scrollbar hover effect */
::-webkit-scrollbar-thumb:hover {
    background-color: #3BDB00;
    /* Darker thumb color on hover */
}

/* Firefox Scrollbar Styling */
html {
    scrollbar-width: thin;
    /* Thin scrollbar */
    border-radius: 50%;
    scrollbar-color: #3BDB00 transparent;
    /* Thumb color, Track color */
}

/* Scrollbar styles for Edge, IE */
body {
    scrollbar-face-color: #3BDB00;
    /* Scrollbar color */
    scrollbar-track-color: transparent;
    /* Track color */
}